<div id="table" class="example">
  <div class="page-header">
    <h2>表格</h2>
  </div>
  <h4>无边框</h4>
  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>公司</th>
            <th>姓名</th>
            <th>职业</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>千丁互联</td>
            <td>李双宝</td>
            <td>前端工程师</td>
          </tr>
          <tr>
            <td>2</td>
            <td>千丁互联</td>
            <td>李双宝</td>
            <td>前端工程师</td>
          </tr>
          <tr>
            <td>3</td>
            <td>千丁互联</td>
            <td>李双宝</td>
            <td>前端工程师</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <h4>有边框</h4>
  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>公司</th>
            <th>姓名</th>
            <th>职业</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>千丁互联</td>
            <td>李双宝</td>
            <td>前端工程师</td>
          </tr>
          <tr>
            <td>2</td>
            <td>千丁互联</td>
            <td>李双宝</td>
            <td>前端工程师</td>
          </tr>
          <tr>
            <td>3</td>
            <td>千丁互联</td>
            <td>李双宝</td>
            <td>前端工程师</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <h4>鼠标变色</h4>
  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>公司</th>
            <th>姓名</th>
            <th>职业</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>千丁互联</td>
            <td>李双宝</td>
            <td>前端工程师</td>
          </tr>
          <tr>
            <td>2</td>
            <td>千丁互联</td>
            <td>李双宝</td>
            <td>前端工程师</td>
          </tr>
          <tr>
            <td>3</td>
            <td>千丁互联</td>
            <td>李双宝</td>
            <td>前端工程师</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <h4>隔行换色</h4>
  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>公司</th>
            <th>姓名</th>
            <th>职业</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>千丁互联</td>
            <td>李双宝</td>
            <td>前端工程师</td>
          </tr>
          <tr>
            <td>2</td>
            <td>千丁互联</td>
            <td>李双宝</td>
            <td>前端工程师</td>
          </tr>
          <tr>
            <td>3</td>
            <td>千丁互联</td>
            <td>李双宝</td>
            <td>前端工程师</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>